*.pyc
/haploqa-venv/
/data/
/releases/
.DS_Store
.Rhistory
.idea/
*.bck
data-bck*/
output/
tmp/
temp/
tmpout*
__pycache__
imgout/
imgout-*/
related-projs/
haploqa.db
/haploqa-mongodump*
erl_crash.dump
/db/
/scratch/
/doc/
/logs/
