{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
    For research related questions and comments the primary contact for this application
    is <a href="https://www.jax.org/research-and-faculty/faculty/research-scientists/laura-reinholdt" target="_blank">Laura Reinholdt, Ph.D.</a>
    <br/>
    <br/>
    <!-- FIXME: When we have a Github, add this back in -->
    <!--For software related questions, problems and suggestions please create an issue through
    <a href="https://github.com/jaxcs/HaploQA/issues">HaploQA's issue tracker</a>.-->
    For software related questions, problems and suggestions please email <a href="mailto:haploqa@jax.org" target="_top">haploqa@jax.org</a>
{% endblock %}
