{% extends "layout.html" %}

{% set no_robots = True %}

{% block title %}Create an Account{% endblock %}

{% block head %}
    {{ super() }}
    <script>
        $(function() {
            var resendButton = '<button class="btn btn-default btn-sm" id="resend-button">Resend email</button>';
            var resentIcon = '<span id="sent-icon" class="glyphicon glyphicon-ok" aria-hidden="true"></span>';
            var resentText = '<p id="sent-text" style="color:#3E8F3E;">Sent</p>';
            var sent = '<div id="sent" style="display:inline-flex;">' + resentIcon + resentText + '</div>';

            /**
             * Customized notification modal that has a resend button and flashed '<checkmark> Sent' after sending
             */
            function showNotificationModal(htmlString, resend) {
                $('#notification-modal').modal();
                if(resend) {
                    $('#notification-modal-message').html(htmlString + resendButton + sent);
                    $("#sent").show().delay(2000).fadeOut();
                } else {
                    $('#notification-modal-message').html(htmlString + resendButton);
                }

                /**
                 * When the resent button is clicked, ping the API to send a new validation email to the entered address
                 */
                $('#resend-button').click(function() {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('resend_validation_email') }}",
                        data: {
                            email: $("#email").val()
                        },
                        dataType: 'json',
                        success: function() {
                            showNotificationModal('<p>Another email has been sent to <b>' + $("#email").val() +
                                                  '</b>. You will need to follow the link in order to finish the set up ' +
                                                  'process. If you continue to not receive the validation emails, please ' +
                                                  'contact HaploQA admin at haploqa@jax.org.</p>', true);
                        }
                    }).error(function(data) {
                        // hide the notification modal to make room for the error modal
                        $('#notification-modal').modal('hide');
                        if(data.responseJSON && data.responseJSON.message === 'already validated') {
                            showNotificationMessage('It looks like there is already a validated account associated with this ' +
                                                    'email address. Please try to log in or reset your password (located under ' +
                                                    'login fields in dropdown).');
                        } else {
                            showErrorMessage('Sorry, we ran into an issue, please try again. If this issue persists, ' +
                                             'please contact haploqa@jax.org.');

                            // print out the response data to browser console for debugging purposes
                            console.log(data);
                        }
                    });
                });
            }
            /**
             * When the notification modal is dismissed, redirect the user to the home page
             */
            $('#notification-dismiss, #notification-modal button.close').on('click', function() {
                location.href = "{{ url_for('index_html') }}"
            });

            // turn off cut/copy/paste ability for email confirmation field
            $('#email-confirm').bind("cut copy paste", function(e) {
                e.preventDefault();
            });

            // turn off cut/copy/paste ability for password confirmation field
            $('#password-confirm').bind("cut copy paste", function(e) {
                e.preventDefault();
            });

            /**
             * When the create button is clicked, check that all the necessary fields are filled out and that the
             * emails and passwords entered match; if all conditions pass, make a POST with the new user's email,
             * password, and affiliation; if the POST is successful, show a notification modal describing that the user
             * should receive an email to confirm their account; if the POST returns a UserAlreadyExists error, show a
             * relevant modal to instruct the user to login with their account, otherwise, provide a general error message
             */
            $('#create-account-button').on('click', function() {
                if(checkEmails() && checkPasswords() && checkAffiliation()) {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('create_account_html') }}",
                        data: {
                            email: $("#email").val(),
                            password: $("#password").val(),
                            affiliation: $("#affiliation").val()
                        },
                        dataType: 'json',
                        success: function() {
                            const msg = '<p>You should receive an email momentarily at <b>' + $("#email").val() + '</b> ' +
                                'containing a validation link. You will need to follow the link in order to finish the ' +
                                'setup process. Note: Some SPAM filters may mistakenly mark this email as spam so if you ' +
                                'do not receive an email, make sure to check your spam folder.<br /><br />' +
                                'If you still have not received a validation email, please email haploqa@jax.org from ' +
                                'the email address you registered with describing your issue</p>';
                            showNotificationModal(msg, false);
                        }
                    }).error(function(data) {
                        if(data.responseJSON && data.responseJSON.message === 'user already exists') {
                            showNotificationMessage('It looks like there is already a validated account associated with this ' +
                                                    'email address. Please try to log in or reset your password (located under ' +
                                                    'login fields in dropdown).');
                        } else if(data.responseJSON && data.responseJSON.message === 'resent validation email') {
                           showNotificationModal('<p>There is already an account associated with this email but it has ' +
                                                 'not yet been validated. You should receive an email momentarily at <b>' +
                                                 $("#email").val() + '</b> containing a validation link. You will need to ' +
                                                 'follow the link in order to finish the setup process. The login ' +
                                                 'password you will need to use is the one that you have previously ' +
                                                 'set unless you choose to reset the password.</p>', false);
                        } else {
                            showErrorMessage('Sorry, we ran into an issue, please try again. If this issue persists, ' +
                                             'please contact haploqa@jax.org.');

                            // print out the response data to browser console for debugging purposes
                            console.log(data);
                        }
                    });
                }
            });

            /**
             * Check that both email fields are filled, valid and match; if they don't, show appropriate message to
             * instruct user how to fix
             * @returns {boolean}
             */
            function checkEmails() {
                var email = $("#email").val();
                var emailConf = $("#email-confirm").val();
                var emailFormat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

                if(email.length === 0) {
                    showErrorMessage('Please enter an email address');
                    return false;
                } else if(emailConf.length === 0) {
                    showErrorMessage('Please confirm your email address');
                    return false;
                } else if(email !== emailConf) {
                    showErrorMessage('The emails you entered do not match');
                    return false;
                } else if(!email.match(emailFormat) || !emailConf.match(emailFormat)) {
                    showErrorMessage('The email you entered does not appear to be valid email addresses');
                    return false;
                }

                return true;
            }

            /**
             * Check that both password fields are filled, they match, and the password is at least 6 characters long;
             * if they don't, show appropriate message to instruct user how to fix
             * @returns {boolean}
             */
            function checkPasswords() {
                var pass = $("#password").val();
                var passConf = $("#password-confirm").val();

                if(pass.length < 8) {
                    showErrorMessage('Your password needs to be at least 8 characters');
                    return false;
                } else if(passConf.length === 0) {
                    showErrorMessage('Please confirm your password');
                    return false;
                } else if(pass !== passConf) {
                    showErrorMessage('The passwords you entered do not match');
                    return false;
                }

                return true;
            }

            /**
             * Check that the affiliation field is filled; if it isn't, show appropriate message to instruct user
             * how to fix
             * @returns {boolean}
             */
            function checkAffiliation() {
                var affiliation = $("#affiliation").val().trim().toLowerCase();

                if(affiliation.length === 0 || affiliation === 'null') {
                    showErrorMessage('Please enter affiliation. If you are not affiliated with a research or educational institution, enter "None".');
                    return false;
                } else if (affiliation.includes('#affiliation') && affiliation.includes('val()')) {
                    showErrorMessage('This is not a valid affiliation. Cut it out.');
                    return false;
                }

                return true;
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Create an Account</h1>
    </div>

    <form id="create-account-form" class="form-horizontal">
        <p>
            Please fill out the fields below.<br/><br/>
            <i>
                Please note that we have encountered several instances where account validation emails are often not
                received by educational email addresses (i.e. emails ending in 'edu'). We recommend using an email
                address from larger email service providers such as Gmail.
            </i>
        </p>
        <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email <b class="required">*</b></label>
            <div class="input-group col-md-6 col-md-offset-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                <input type="email" size="50" class="form-control" required
                       id="email" name="email" placeholder="Email address">
            </div>
        </div>

        <div class="form-group">
            <label for="email-confirm" class="col-md-3 control-label">Confirm email <b class="required">*</b></label>
            <div class="input-group col-md-6 col-md-offset-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                <input type="email" size="50" class="form-control" required
                       id="email-confirm" name="email-confirm" placeholder="Confirm email address">
            </div>
        </div>

        <br/>

        <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password <b class="required">*</b></label>
            <div class="input-group col-md-6 col-md-offset-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <input type="password" size="50" class="form-control" data-minlength="8" required
                       id="password" name="password" placeholder="Password (must be at least 8 characters)">
            </div>
        </div>

        <div class="form-group">
            <label for="password-confirm" class="col-md-3 control-label">Confirm password <b class="required">*</b></label>
            <div class="input-group col-md-6 col-md-offset-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <input type="password" size="50" class="form-control" data-minlength="8" required
                       id="password-confirm" name="password-confirm" placeholder="Confirm password">
            </div>
        </div>

        <br/>

        <div class="form-group">
            <label for="affiliation" class="col-md-3 control-label">Affiliation <b class="required">*</b></label>
            <div class="input-group col-md-6 col-md-offset-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></span>
                <input type="text" size="50" class="form-control" required
                       id="affiliation" name="affiliation" placeholder="Affiliation">
            </div>
        </div>
    </form>

    <hr>

    <div>
        <div class="col-md-offset-5 col-md-2 " style="margin-top:1em">
            <button class="btn btn-primary" id="create-account-button">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Create Account
            </button>
        </div>
    </div>
{% endblock %}
