{% set no_robots = True %}

{% extends "layout.html" %}

{% block title %}Create Group{% endblock %}

{% block head %}
    {{ super() }}
    <script>
        var allGroupNames = {{ all_group_names|tojson }};
        var allGroupNamesLower = allGroupNames.map(function(s) {return s.toLowerCase()});
        $(function() {
            var createGroupForm = $('#create-group-form');
            createGroupForm.validator({
                custom: {
                    'group-exists': function(elem) {
                        return allGroupNamesLower.indexOf(elem.val().toLowerCase()) === -1;
                    }
                },
                errors: {
                    'group-exists': 'That group already exists. Please specify a different group name.'
                }
            });
        });
    </script>
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>Create Group</h1>
</div>

<p>
    Enter a new group name below and submit the form to create a group. Your user account will be
    added to this group as a group administrator (you will have permission to add/remove users
    as well as give other members administrative privileges).
</p>

<form id="create-group-form" class="form-horizontal" method="post" data-toggle="validator">
    <div class="form-group">
        <label for="group-name" class="col-md-3 control-label">Group Name:</label>

        <div class="col-md-6">
            <input type="text" class="form-control" id="group-name" name="group-name" data-group-exists="data-group-exists" required>
            <span class="help-block with-errors"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-3">
            <button class="btn btn-primary" type="submit">Create Group</button>
        </div>
    </div>
</form>
{% endblock %}
