{% set no_robots = True %}
{% set user_change_requires_refresh = True %}

{% extends "layout.html" %}

{% block title %}Edit Group: {{ group.group_name }}{% endblock %}

{% block head %}
    {{ super() }}
    <script>
        var allUsers = {{ all_users|tojson }};
        var allUsersMap = {};
        allUsers.forEach(function(currUser) {
            allUsersMap[currUser.id] = currUser;
        });
        var groupUsers = {{ group_users|tojson }};

        /**
         * Sorts users by email address and removes duplicates returning the result
         */
        function normalizeUsers(users) {
            var sortedUsers = users.slice().sort(function(user1, user2) {
                return user1.email_address.localeCompare(user2.email_address);
            });

            var uniqueUsers = [];
            var prevUser = null;
            sortedUsers.forEach(function(user) {
                // we should only push users that have a unique email address which is
                // present in the allUsersMap
                var doPush =
                        user.id in allUsersMap &&
                        (prevUser === null || user.email_address !== prevUser.email_address)
                if(doPush) {
                    uniqueUsers.push(user)
                }

                prevUser = user;
            });

            return uniqueUsers;
        }

        $(function() {
            groupUsers = normalizeUsers(groupUsers);

            $('#save-group-button').click(function() {
                $.ajax({
                    type: "PUT",
                    url: "{{ url_for('group_json', group_name=group.group_name) }}",
                    data: {group_users: JSON.stringify(groupUsers)},
                    success: function() {
                        window.location = "{{ url_for('group_html', group_name=group.group_name) }}";
                    }
                }).fail(function() {
                    showErrorMessage('An error occurred while saving group.');
                });
            });

            $('#delete-group-button').click(function() {
                $.ajax({
                    type: "DELETE",
                    url: "{{ url_for('group_json', group_name=group.group_name) }}",
                    success: function() {
                        window.location = "{{ url_for('index_html') }}";
                    }
                }).fail(function() {
                    showErrorMessage('An error occurred while deleting group.');
                });
            });

            var groupUsersTbody = $('#group-users-tbody');
            var addUsersInput = $('#add-users-input');
            addUsersInput.tokenfield({
                autocomplete: {
                    source: allUsers.map(function(currUser) {
                        return {
                            label: currUser.email_address,
                            value: currUser.id
                        };
                    }),
                    delay: 100,
                    autoFocus: true
                },
                createTokensOnBlur: true
            });
            addUsersInput.on('tokenfield:createtoken', function(e) {
                // only accept token creation for known users
                return e.attrs.value in allUsersMap;
            });

            var addUsersButton = $('#add-users-button');
            addUsersButton.click(function() {
                addUsersInput.tokenfield('getTokens').forEach(function(currToken) {
                    groupUsers.push({
                        email_address: currToken.label,
                        id: currToken.value
                    });
                    groupUsers = normalizeUsers(groupUsers);
                });
                addUsersInput.tokenfield('setTokens', []);
                rebuildGroupTable();
            });

            function rebuildGroupTable() {
                groupUsersTbody.empty();
                groupUsers.forEach(function(user) {
                    var tr = $(document.createElement('tr'));

                    var nameTd = $(document.createElement('td'));
                    var rmUserButton = $(
                            '<button type="button" class="btn btn-default btn-sm" title="remove ' + escapeHtml(user.email_address) + ' from group">' +
                            '<span class="fa fa-user-times" aria-hidden="true"></span>' +
                            '</button>');
                    rmUserButton.click(function() {
                        groupUsers = groupUsers.filter(function(filterUser) {
                            return filterUser !== user;
                        });
                        tr.remove();
                    });
                    nameTd.append(rmUserButton);
                    nameTd.append($(document.createTextNode(' ')));
                    nameTd.append(document.createTextNode(user.email_address));

                    var adminTd = $(document.createElement('td'));
                    var adminCheckbox = $('<input type="checkbox" value="' + escapeHtml(user.email_address) + '">');
                    adminCheckbox.prop('checked', user.is_group_admin);
                    adminCheckbox.change(function() {
                        user.is_group_admin = adminCheckbox.prop('checked');
                    });
                    adminTd.append(adminCheckbox);

                    tr.append(nameTd);
                    tr.append(adminTd);

                    groupUsersTbody.append(tr);
                });
            }
            rebuildGroupTable();

            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Group: {{ group.group_name }}</h1>
    </div>

    <div style="margin-bottom: 10px;">
        <button id="save-group-button" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Edits
        </button>
        <a href="{{ url_for('group_html', group_name=group.group_name) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel Edits
        </a>
        <button id="delete-group-button" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Group
        </button>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input id="add-users-input" type="text" class="form-control" placeholder="user1@example.com, user2@example.com, ..."/>
                <span class="input-group-btn">
                    <button id="add-users-button" class="btn btn-default" type="button"><span class="fa fa-user-plus"></span> Add Users to Group</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Group Member email</th>
                        <th>Administrator</th>
                    </tr>
                </thead>
                <tbody id="group-users-tbody"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
