{% set no_robots = True %}
{% set user_change_requires_refresh = True %}

{% extends "layout.html" %}

{% block title %}Group: {{ group.group_name }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Group: {{ group.group_name }}</h1>
    </div>

    {% if user_is_group_admin %}
    <div style="margin-bottom: 10px;">
        <a href="{{ url_for('edit_group_html', group_name=group.group_name) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Group
        </a>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Group Member email</th>
                        <th>Administrator</th>
                    </tr>
                </thead>
                <tbody id="group-users-tbody">
                {% for group_user in group_users %}
                    <tr>
                        <td>{{ group_user.email_address }}</td>
                        <td>{% if group_user.is_group_admin %}<span class="glyphicon glyphicon-ok" aria-label="{{ group_user.email_address }} is an administrator"></span>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
