{% extends "layout.html" %}

{% block title %}HaploQA{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>HaploQA</h1>
    </div>

    <div>
        You can <a href="{{ url_for('sample_data_import_html') }}">import new samples here</a> .
    </div>

    <div>
        Select any of the following tags to view or edit samples:

        <ul>
            {% for tag in tags %}
            <li><a href="{{ url_for('sample_tag_html', tag_id=tag) }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
