<!doctype html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    {% if no_robots %}<meta name="robots" content="noindex,nofollow">{% endif %}

    <title>{% block title %}{% endblock %}</title>

    <!-- JQuery -->
    <link href="{{ url_for('static', filename='jquery-ui-1.11.1/jquery-ui.min.css') }}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.11.1/jquery-ui.min.js') }}"></script>

    <!-- bootstrap stuff -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/validator.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-tokenfield-9c06df4/css/bootstrap-tokenfield.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-tokenfield-9c06df4/bootstrap-tokenfield.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-minicolors-2.2.1/jquery.minicolors.css') }}">
    <script src="{{ url_for('static', filename='jquery-minicolors-2.2.1/jquery.minicolors.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.4.0/css/font-awesome.min.css') }}">

    <!-- D3 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>

    <!-- application specific -->
    <script src="{{ url_for('static', filename='js/haploqa.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/haploqa.css') }}">

    <script>
    var userChangeRequiresRefresh = {% if user_change_requires_refresh %}true{% else %}false{% endif %};
    var user = {% if g.user %}{{ g.user|tojson }}{% else %}null{% endif %};
    var flashMessages = {{ get_flashed_messages()|tojson }};
    function userChanged(requireRefresh) {
        if(typeof requireRefresh === 'undefined') {
            requireRefresh = userChangeRequiresRefresh;
        }

        var currUserLabel = $('#curr-user-label');

        if(requireRefresh) {
            document.location.reload(true);
        } else {
            if(user) {
                currUserLabel.text(user.email_address);
                $('[data-display-when="logged-in"]').css('display', '');
                $('[data-display-when="logged-out"]').css('display', 'none');
            } else {
                currUserLabel.text('');
                $('[data-display-when="logged-in"]').css('display', 'none');
                $('[data-display-when="logged-out"]').css('display', '');
            }
        }
    }

    $(document).ready(function() {
        userChanged(false);

        if(flashMessages.length) {
            showErrorMessage(flashMessages[0]);
        }

        var loginBannerEmail = $('#login-banner-email');
        var loginBannerPassword = $('#login-banner-password');
        var loginBannerButton = $('#login-banner-button');
        var logoutBanner = $('#logout-banner');

        var loginRequest = null;
        function doLogin() {
            if(loginRequest !== null) {
                loginRequest.abort();
            }

            var email = loginBannerEmail.val();
            loginRequest = $.ajax({
                type: "POST",
                url: "{{ url_for('login_json') }}",
                data: {
                    email: email,
                    password: loginBannerPassword.val()
                },
                dataType: 'json',
                success: function(new_user) {
                    user = new_user;
                    userChanged();
                }
            }).fail(function() {
                showErrorMessage('login attempt failed');
            }).always(function() {
                loginRequest = null;
                loginBannerPassword.val('');
                //sampleUpdateSpinner.css('display', 'none');
            });
        }
        loginBannerButton.click(doLogin);
        loginBannerEmail.keydown(function(e) {
            if(e.keyCode === 13) {
                doLogin();
            }
        });
        loginBannerPassword.keydown(function(e) {
            if(e.keyCode === 13) {
                doLogin();
            }
        });

        var logoutRequest = null;
        logoutBanner.click(function(e) {
            e.preventDefault();

            if(logoutRequest !== null) {
                logoutRequest.abort();
            }

            logoutRequest = $.ajax({
                type: "POST",
                url: "{{ url_for('logout_json') }}",
                dataType: 'json',
                success: function(data) {
                    user = null;
                    userChanged();
                }
            }).fail(function() {
                showErrorMessage('logout attempt failed');
            }).always(function() {
                logoutRequest = null;
                loginBannerPassword.val('');
            });
        });
    });
    </script>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index_html') }}">HaploQA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('sample_data_import_html') }}" data-display-when="logged-in">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        Import Sample Data
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('about_html') }}">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        About
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('contact_html') }}">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        Contact
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('help_html') }}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        Help
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-display-when="logged-in">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span id="curr-user-label">user@example.com</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="logout-banner" href="#">logout</a></li>
                        <li><a href="{{ url_for('change_password_html') }}">change password</a></li>
                        <li><a href="{{ url_for('invite_user_html') }}">invite new user</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-display-when="logged-out">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Login
                    </a>
                    <div class="dropdown-menu" style="width: 400px;">
                        <form class="form dropdown-form">
                            <div class="form-group">
                                <input type="email" class="form-control" id="login-banner-email" name="email" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="login-banner-password" name="password">
                            </div>
                            <div class="form-group">
                                <button id="login-banner-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Login</button>
                                <a href="{{ url_for('reset_password_html') }}">I forgot my password</a>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<!--div id="content" class="container-fluid"-->
<div id="content" class="container">
    {% block content %}{% endblock %}

    <!-- Error Modal -->
    <div id="error-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">An Error Occurred</h4>
                </div>
                <div id="error-modal-message" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <!-- TODO add footer content -->
</div>
</body>
</html>
