<!DOCTYPE html>
<html lang="en-US">
<head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    {% if no_robots %}<meta name="robots" content="noindex,nofollow">{% endif %}

    <title>{% block title %}{% endblock %}</title>

    <!-- JQuery -->
    <link href="{{ url_for('static', filename='jquery-ui-1.11.1/jquery-ui.min.css') }}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.11.1/jquery-ui.min.js') }}"></script>

    <!-- bootstrap stuff -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/validator.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-tokenfield-9c06df4/css/bootstrap-tokenfield.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-tokenfield-9c06df4/bootstrap-tokenfield.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-minicolors-2.2.1/jquery.minicolors.css') }}">
    <script src="{{ url_for('static', filename='jquery-minicolors-2.2.1/jquery.minicolors.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.4.0/css/font-awesome.min.css') }}">

    <!-- bootstrap color picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>

    <!-- D3 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>

    <!-- http://labratrevenge.com/d3-tip/ -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.tip.v0.6.3.js') }}"></script>

    <!-- application specific -->
    <script src="{{ url_for('static', filename='js/haploqa.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/haploqa.css') }}">

    <script>
    var user = {% if g.user %}{{ g.user|tojson }}{% else %}null{% endif %};
    var flashMessages = {{ get_flashed_messages()|tojson }};

    $(document).ready(function() {
        if(flashMessages.length) {
            showErrorMessage(flashMessages[0]);
        }

        var loginBannerEmail = $('#login-banner-email');
        var loginBannerPassword = $('#login-banner-password');
        var loginBannerButton = $('#login-banner-button');
        var logoutBanner = $('#logout-banner');

        var loginRequest = null;
        function doLogin() {
            if(loginRequest !== null) {
                loginRequest.abort();
            }

            var email = loginBannerEmail.val();
            loginRequest = $.ajax({
                type: "POST",
                url: "{{ url_for('login_json') }}",
                data: {
                    email: email,
                    password: loginBannerPassword.val()
                },
                dataType: 'json',
                success: function(new_user) {
                    document.location.reload(true);
                }
            }).fail(function() {
                showErrorMessage('login attempt failed');
            }).always(function() {
                loginRequest = null;
                loginBannerPassword.val('');
                //sampleUpdateSpinner.css('display', 'none');
            });
        }
        loginBannerButton.click(doLogin);
        loginBannerEmail.keydown(function(e) {
            if(e.keyCode === 13) {
                doLogin();
            }
        });
        loginBannerPassword.keydown(function(e) {
            if(e.keyCode === 13) {
                doLogin();
            }
        });

        var logoutRequest = null;
        logoutBanner.click(function(e) {
            e.preventDefault();

            if(logoutRequest !== null) {
                logoutRequest.abort();
            }

            logoutRequest = $.ajax({
                type: "POST",
                url: "{{ url_for('logout_json') }}",
                dataType: 'json',
                success: function(data) {
                    document.location.href = "/";
                }
            }).fail(function() {
                showErrorMessage('logout attempt failed');
            }).always(function() {
                logoutRequest = null;
                loginBannerPassword.val('');
            });
        });
    });
    </script>
    {% endblock %}
</head>
<body>
<div id="alertDiv"></div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index_html') }}">HaploQA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if g.user %}
                <li>
                    <a href="{{ url_for('sample_data_import_html') }}">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        Import Sample Data
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ url_for('contact_html') }}">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        Contact
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('help_html') }}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        Help &amp; About
                    </a>
                </li>
                <li>
                    <form class="navbar-form navbar-right" action="{{ url_for('search_html') }}">
                        <div class="input-group">
                            <input type="text" name="search-text" placeholder="Search Text" class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.user %}
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span id="curr-user-label">{{ g.user.email_address }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="logout-banner" href="#">Logout</a></li>
                        {% if g.user.std_des_admin == True or g.user.curator == True%}
                            <li><a href="{{ url_for('hap_cands') }}">Haplotype Candidate Samples</a></li>
                            <li><a href="{{ url_for('st_des_admin') }}">Strain Name Admin</a></li>
                        {% endif %}
                        {% if g.user.administrator == True %}
                            <li><a href="{{ url_for('sample_data_export_html') }}">Sample Data Export</a></li>
                            <li><a href="{{ url_for('show_users') }}">User Admin</a></li>
                            <li><a href="{{ url_for('invite_user_html') }}">Invite New User</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('user_tags') }}">My Samples</a></li>
                        <li><a href="{{ url_for('change_password_html') }}">Change Password</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Login
                    </a>
                    <div class="dropdown-menu" style="width: 400px;">
                        <form class="form dropdown-form">
                            <div class="form-group">
                                <input type="email" class="form-control" id="login-banner-email" name="email" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="login-banner-password" name="password">
                            </div>
                            <div class="form-group">
                                <button id="login-banner-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Login</button>
                                <a href="{{ url_for('reset_password_html') }}">I forgot my password</a>
                            </div>
                        </form>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="content" class="container">
    {% block content %}{% endblock %}
    <!-- Error Modal -->
    <div id="error-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">An Error Occurred</h4>
                </div>
                <div id="error-modal-message" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
     <!-- Confirm Modal -->
    <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
                </div>
                <div id="confirm-modal-message" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" id="confirm" class="btn btn-default" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Notification Modal -->
    <div id="notification-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modal-message" class="modal-body"></div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <!-- TODO add footer content -->
</div>
</body>
</html>
