<!doctype html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>

    <!-- bootstrap stuff -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/haploqa.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/haploqa.css') }}">
    {% endblock %}
</head>
<body>

<!--div id="content" class="container-fluid"-->
<div id="content" class="container">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    <!-- TODO add footer content -->
</div>
</body>
</html>
