{% set user_change_requires_refresh = True %}

{% extends "layout.html" %}

{% block title %}My Groups{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>My Groups</h1>
    </div>

    <div>
    You can <a href="{{ url_for('create_group_html') }}">create a new group</a> at any time.
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Administrator</th>
                    </tr>
                </thead>
                <tbody id="group-users-tbody">
                {% for group in my_groups %}
                    <tr>
                        <td><a href="{{ url_for('group_html', group_name=group.group_name) }}">{{ group.group_name }}</a></td>
                        <td>{% if group.user_is_group_admin %}<span class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="you are an administrator"></span>{% endif %}</td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">
                        {% block nosamples %}
                            You currently have no group memberships. You can
                            <a href="{{ url_for('create_group_html') }}">create a new group</a> and add other users
                            to it at any time.
                        {% endblock %}
                    </td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
