{% set no_robots = True %}

{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Reset Password</h1>
</div>

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="email" class="col-md-3 control-label">Email:</label>

        <div class="col-md-6">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-3">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail Reset Confirmation
            </button>
        </div>
    </div>
</form>
{% endblock %}
