{% extends "layout.html" %}

{% block title %}Samples for tag: {{ tag_id }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ tag_id }}</h1>
    </div>

    <p>Select any of the samples below to view or edit details.</p>

    <!-- a bootstrap progress bar for the import -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>Platform</th>
                    <th>% Het. Calls</th>
                    <th>% Hom. Calls</th>
                    <th>% No Call</th>
                    {% if tag_id == 'haplotype-strain' %}
                    <th>Color</th>
                    {% else %}
                    <th>% Haplotype & SNP Concordance</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for sample in matching_samples %}
                    <tr>
                        <td><a href="../sample/{{ sample._id }}.html">{{ sample.sample_id }}</a></td>
                        <td>{{ sample.platform_id }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.heterozygous_percent) }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.homozygous_percent) }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.no_read_percent) }}</td>
                        {% if tag_id == 'haplotype-strain' %}
                        <td><span id="sample-color-icon" class="fa fa-square" style="color: {{ sample.color }};"></span></td>
                        {% else %}
                        <td>
                            {% if sample.viterbi_haplotypes.concordant_percent == None %}
                                N/A
                            {% else %}
                                {{ '{0:0.2f}%'.format(sample.viterbi_haplotypes.concordant_percent) }}
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr><td colspan="5">No samples found for tag: {{ tag_id }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
