{% extends "layout.html" %}

{% block title %}All Samples{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mm10-data.js') }}"></script>
    <script>
        var allTags = {{ all_tags|tojson }};
        var strainColors = {{ strain_colors|tojson }};
        var strainNames = $.map(strainColors, function(color, strainName) {return strainName});
        $(function() {
            var tagActionDropdown = new BootstrapDropdown($('#tag-action-dropdown'));
            var contribStrainsActionDropdown = new BootstrapDropdown($('#contrib-strains-action-dropdown'));
            var sampleVisibilityDropdown = new BootstrapDropdown($('#sample-visibility-dropdown'));

            var editTagsInput = $('#edit-tags-input');
            editTagsInput.tokenfield({
                autocomplete: {
                    source: allTags.map(function(tag) {
                        return {
                            label: tag,
                            value: tag
                        }
                    }),
                    delay: 100,
                    autoFocus: true,
                    minLength: 1
                },
                showAutocompleteOnFocus: true,
                createTokensOnBlur: true
            });

            var contribStrainTokensInput = $('#contributing-strains');
            contribStrainTokensInput.tokenfield({
                autocomplete: {
                    source: strainNames,
                    delay: 100,
                    autoFocus: true
                },
                showAutocompleteOnFocus: true,
                createTokensOnBlur: true,
                limit: {{ maximum_contributing_strain_count() }}
            });
            contribStrainTokensInput.on('tokenfield:createtoken', function(e) {
                var value = e.attrs.value;

                return strainNames.some(function(samp) {
                    return samp === value;
                });
            });

            var sampleUpdateSpinner = $('#samples-update-spinner');
            var editSamplesButton = $('#edit-samples-button');
            var saveSamplesButton = $('#save-samples-button');
            var cancelSamplesButton = $('#cancel-samples-button');
            var selectAllCheckbox = new TriStateCheckbox($('#select-all-checkbox'));
            var allSampleCheckboxes = $('input[data-sample-id]');
            selectAllCheckbox.onTriStateChanged = function() {
                var currState = selectAllCheckbox.checked();
                if(currState !== null) {
                    allSampleCheckboxes.prop('checked', currState);
                }
            };

            function updateSelectAllCheckbox() {
                var anyChecked = false;
                var anyUnchecked = false;
                allSampleCheckboxes.each(function() {
                    if($(this).prop('checked')) {
                        anyChecked = true;
                    } else {
                        anyUnchecked = true;
                    }
                });

                if(anyChecked && anyUnchecked) {
                    selectAllCheckbox.checked(null);
                } else if(anyChecked) {
                    selectAllCheckbox.checked(true);
                } else if(anyUnchecked) {
                    selectAllCheckbox.checked(false);
                }
            }

            allSampleCheckboxes.change(function() {
                updateSelectAllCheckbox();
            });

            function switchEditSampleView(isEdit) {
                $('[data-display-when="sample-edit"]').css('display', isEdit ? '' : 'none');
                $('[data-display-when="sample-readonly"]').css('display', isEdit ? 'none' : '');
            }
            editSamplesButton.click(function() {switchEditSampleView(true);});
            cancelSamplesButton.click(function() {
                // reset all of the edit inputs before we hide them
                editTagsInput.tokenfield('setTokens', []);
                tagActionDropdown.setValue('add');
                contribStrainTokensInput.tokenfield('setTokens', []);
                contribStrainsActionDropdown.setValue('add');
                sampleVisibilityDropdown.setValue('no-change');

                switchEditSampleView(false);
            });
            saveSamplesButton.click(function() {
                saveSamplesButton.prop('disabled', true);
                sampleUpdateSpinner.css('display', '');

                var newTags = discardDupElems(editTagsInput.tokenfield('getTokens').map(function(x) {
                    return x.value;
                }));
                var newContribStrainNames = discardDupElems(contribStrainTokensInput.tokenfield('getTokens').map(function(x) {
                    return x.value;
                }));
                var selectedCheckboxes = $('input:checked[type=checkbox][data-sample-id]');
                var selectedSampleIDs = selectedCheckboxes.map(function(){
                    return $(this).attr('data-sample-id');
                }).get();

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('update_samples') }}",
                    data: {
                        samples_to_update: JSON.stringify(selectedSampleIDs),
                        tags: JSON.stringify(newTags),
                        tags_action: tagActionDropdown.getValue(),
                        contributing_strains: JSON.stringify(newContribStrainNames),
                        contributing_strains_action: contribStrainsActionDropdown.getValue(),
                        sample_visibility: sampleVisibilityDropdown.getValue()
                    },
                    dataType: 'json',
                    success: function(data) {
                        document.location.reload(true);
                    }
                }).fail(function() {
                    showErrorMessage('An error occurred while updating samples.');
                }).always(function() {
                    sampleUpdateSpinner.css('display', 'none');
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% block header %}All Samples{% endblock %}</h1>
    </div>

    <p>Select any of the samples below to view or edit details.</p>

    {% if g.user %}
    <div style="margin-bottom: 10px;">
        <div class="row" data-display-when="sample-readonly">
            <div class="col-md-12">
                <button id="edit-samples-button" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Samples
                </button>
            </div>
        </div>

        <form data-display-when="sample-edit" style="display: none;">
            <div class="form-group">
                <label for="edit-tags-input">Tags</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="edit-tags-input">
                    <div id="tag-action-dropdown" class="input-group-btn">
                        <button
                                type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"><span data-dropdown-label></span> <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" data-value="add">Add Tags to Samples</a></li>
                            <li><a href="#" data-value="remove">Remove Tags from Samples</a></li>
                            <li><a href="#" data-value="set">Set Sample Tags</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div>
            <div class="form-group">
                <label for="contributing-strains">Contributing Strains</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="contributing-strains">
                    <div id="contrib-strains-action-dropdown" class="input-group-btn">
                        <button
                                type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"><span data-dropdown-label></span> <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" data-value="add">Add Contributing Strains to Samples</a></li>
                            <li><a href="#" data-value="remove">Remove Contributing Strains from Samples</a></li>
                            <li><a href="#" data-value="set">Set Contributing Strains</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div>
            <div class="form-group">
                <div id="sample-visibility-dropdown" class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span data-dropdown-label></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-value="no-change">Leave Sample Visibility Unchanged</a></li>
                        <li><a href="#" data-value="public">Make Samples Public</a></li>
                        <li><a href="#" data-value="private">Make Samples Private</a></li>
                    </ul>
                </div>
            </div>
        </form>

        <div class="row" data-display-when="sample-edit" style="display: none;">
            <div class="col-md-12">
                <button id="save-samples-button" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Edits
                    <span id="samples-update-spinner" class="fa fa-spinner fa-pulse" style="display: none;"></span>
                </button>
                <button id="cancel-samples-button" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel Edits
                </button>
                <!--button id="delete-samples-button" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Selected Samples
                </button-->
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th data-display-when="sample-edit" style="display: none;"><input id="select-all-checkbox" type="checkbox" checked></th>
                    <th>ID (Secondary IDs)</th>
                    <th>Standard Designation</th>
                    <th>Sex</th>
                    <th>Platform</th>
                    <th>% Het. Calls</th>
                    <th>% Hom. Calls</th>
                    <th>% No Call</th>
                    <th>% Concordance</th>
                    {% if g.user %}<th>Public</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for sample in samples %}
                    <tr>
                        <td data-display-when="sample-edit" style="display: none;"><input data-sample-id="{{ sample._id }}" type="checkbox" checked></td>
                        <td>
                            <a href="{{ url_for('sample_html', mongo_id=sample._id) }}">
                                {% if sample.haplotype_candidate %}
                                    <span id="sample-color-icon" class="fa fa-square" style="color: {{ strain_colors[sample.standard_designation] }};"></span>
                                {% endif %}
                                {{ sample.sample_id }}
                            </a>
                            {% if sample.other_ids %}
                                ({% for other_id in sample.other_ids %}{{ other_id }}{% if not loop.last %}, {% endif %}{% endfor %})
                            {% endif %}
                        </td>
                        <td>
                            {% if sample.standard_designation %}
                                <a href="{{ url_for('standard_designation_html', standard_designation=sample.standard_designation) }}">{{ sample.standard_designation }}</a>
                            {% endif %}
                        </td>
                        <td>{{ sample.sex or 'Unknown' }}</td>
                        <td>{{ sample.platform_id }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.heterozygous_percent) }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.homozygous_percent) }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.no_read_percent) }}</td>
                        <td>
                            {% if sample.viterbi_haplotypes.concordant_percent != None %}
                                {{ '{0:0.2f}%'.format(sample.viterbi_haplotypes.concordant_percent) }}
                            {% endif %}
                        </td>
                        {% if g.user %}
                        <td>{% if sample.is_public %}<span class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="sample is public"></span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% else %}
                        <tr><td colspan="10">
                            {% block nosamples %}No samples found{% endblock %}
                        </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
