{% extends "layout.html" %}

{% block title %}All Samples{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% block header %}All Samples{% endblock %}</h1>
    </div>

    <p>Select any of the samples below to view or edit details.</p>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>Standard Designation</th>
                    <th>Gender</th>
                    <th>Platform</th>
                    <th>% Het. Calls</th>
                    <th>% Hom. Calls</th>
                    <th>% No Call</th>
                    <th>% Concordance</th>
                </tr>
                </thead>
                <tbody>
                    {% for sample in samples %}
                    <tr>
                        <td>
                            <a href="../sample/{{ sample._id }}.html">
                                {% if 'haplotype-strain' in sample.tags %}
                                    <span id="sample-color-icon" class="fa fa-square" style="color: {{ sample.color }};"></span>
                                {% endif %}
                                {{ sample.sample_id }}
                            </a>
                        </td>
                        <td>
                            {% if sample.standard_designation %}
                                <a href="{{ url_for('standard_designation_html', standard_designation=sample.standard_designation) }}">{{ sample.standard_designation }}</a>
                            {% endif %}
                        </td>
                        <td>{% if sample.gender %}{{ sample.gender }}{% endif %}</td>
                        <td>{{ sample.platform_id }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.heterozygous_percent) }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.homozygous_percent) }}</td>
                        <td>{{ '{0:0.2f}%'.format(sample.no_read_percent) }}</td>
                        <td>
                            {% if sample.viterbi_haplotypes.concordant_percent != None %}
                                {{ '{0:0.2f}%'.format(sample.viterbi_haplotypes.concordant_percent) }}
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                        <tr><td colspan="8">
                            {% block nosamples %}No samples found{% endblock %}
                        </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
