{% extends "layout.html" %}

{% block title %}Samples Details for {{ sample.sample_id }}{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mm10-data.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script>

        function arraysEq(arr1, arr2) {
            if(arr1.length !== arr2.length) {
                return false;
            } else {
                return arr1.every(function(elem1, i) {
                    return elem1 === arr2[i];
                });
            }
        }

        var otherSamples = [
            {% for other_sample in other_samples %}
            {
                label: '{{ other_sample.sample_id }}',
                value: '{{ other_sample._id }}'
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
        var sampleID = "{{ sample.sample_id }}";
        var sampleTags = {{ sample.tags|tojson }};
        var allTags = {{ all_tags|tojson }};
        var contribStrainTokens = {{ contrib_strain_tokens|tojson }};
        var intervalDelayMS = 2500;

        $(function() {
            var editTagsPanel = $('#edit-tags-panel');
            var editTagsInput = $('#edit-tags-input');
            var tagLinksPanel = $('#tag-links');

            var sampleUpdateSpinner = $('#sample-update-spinner');
            var editSampleButton = $('#edit-sample-button');
            var saveSampleButton = $('#save-sample-button');
            var cancelSampleButton = $('#cancel-sample-button');

            var readonlyHaplotypesPanel = $('#readonly-haplotypes-panel');
            var editHaplotypesPanel = $('#edit-haplotypes-panel');

            var readonlySampleIDPanel = $('#readonly-sampleid');
            var editSampleIDPanel = $('#edit-sampleid-panel');
            var editSampleIDInput = $('#edit-sampleid-input');

            editTagsInput.tokenfield({
                autocomplete: {
                    source: allTags.map(function(tag) {
                        return {
                            label: tag,
                            value: tag
                        }
                    }),
                    delay: 100,
                    autoFocus: true,
                    minLength: 1
                },
                showAutocompleteOnFocus: true,
                createTokensOnBlur: true
            });
            function updateSampleTags(newSampleTags) {
                sampleTags = newSampleTags;
                tagLinksPanel.empty();
                newSampleTags.forEach(function(tag, i) {
                    if(i >= 1) {
                        tagLinksPanel.append(document.createTextNode(', '));
                    }
                    tagLinksPanel.append('<a href="../tag/' + encURIComp(tag) + '.html">' + tag + '</a>');
                });
                editTagsInput.tokenfield('setTokens', newSampleTags.map(function(tag) {
                    return {
                        label: tag,
                        value: tag
                    }
                }));
            }
            updateSampleTags(sampleTags);

            var contribStrainTokensInput = $('#contrib-strains-tokens');
            contribStrainTokensInput.tokenfield({
                autocomplete: {
                    source: otherSamples,
                    delay: 100,
                    autoFocus: true,
                    minLength: 2
                },
                showAutocompleteOnFocus: false,
                createTokensOnBlur: true
            });
            contribStrainTokensInput.on('tokenfield:createtoken', function(e) {
                var value = e.attrs.value;

                return otherSamples.some(function(samp) {
                    return samp.value === value;
                });
            });
            function updateHaplotypeStrains(newContribStrainTokens) {
                contribStrainTokens = newContribStrainTokens;
                readonlyHaplotypesPanel.empty();
                newContribStrainTokens.forEach(function(strain, i) {
                    if(i >= 1) {
                        readonlyHaplotypesPanel.append(document.createTextNode(', '));
                    }
                    readonlyHaplotypesPanel.append('<a href="' + encURIComp(strain.value) + '.html">' + strain.label + '</a>');
                });
                contribStrainTokensInput.tokenfield('setTokens', newContribStrainTokens);
            }
            updateHaplotypeStrains(contribStrainTokens);

            function updateSampleID(newSampleID) {
                sampleID = newSampleID;

                $('[data-sampleid]').text(newSampleID);
                editSampleIDInput.val(newSampleID);
            }
            updateSampleID(sampleID);

            editSampleButton.click(function() {
                // hide some stuff and show some stuff to switch from read-only mode to edit mode
                editSampleButton.parent().css('display', 'none');
                readonlySampleIDPanel.css('display', 'none');
                tagLinksPanel.css('display', 'none');
                readonlyHaplotypesPanel.css('display', 'none');

                saveSampleButton.parent().css('display', '');
                editSampleIDPanel.css('display', '');
                editTagsPanel.css('display', '');
                editHaplotypesPanel.css('display', '');
            });

            function switchToReadonlyView() {
                // hide some stuff and show some stuff to switch from edit mode to read-only mode
                saveSampleButton.parent().css('display', 'none');
                editSampleIDPanel.css('display', 'none');
                editTagsPanel.css('display', 'none');
                editHaplotypesPanel.css('display', 'none');

                editSampleButton.parent().css('display', '');
                readonlySampleIDPanel.css('display', '');
                tagLinksPanel.css('display', '');
                readonlyHaplotypesPanel.css('display', '');
            }

            cancelSampleButton.click(function() {
                switchToReadonlyView();

                // restore old values to inputs so that if the user clicks edit again they
                // won't be presented with the values that they just cancelled.
                updateSampleTags(sampleTags);
                updateHaplotypeStrains(contribStrainTokens);
                updateSampleID(sampleID);
            });
            var saveTagRequest = null;
            saveSampleButton.click(function() {
                if(saveTagRequest !== null) {
                    saveTagRequest.abort();
                    saveTagRequest = null;
                    sampleUpdateSpinner.css('display', 'none');
                }

                var postData = {};
                var newTags = editTagsInput.tokenfield('getTokens').map(function(x) {
                    return x.value;
                });
                var tagsChanged = !arraysEq(newTags, sampleTags);
                if(tagsChanged) {
                    postData['tags'] = JSON.stringify(newTags);
                }

                var newContribStrainTokens = contribStrainTokensInput.tokenfield('getTokens');
                var newContribStrainIds = newContribStrainTokens.map(function(x) {
                    return x.value;
                });
                var oldContribStrainIds = contribStrainTokens.map(function(x) {
                    return x.value;
                });
                var contribStrainsChanged = !arraysEq(newContribStrainIds, oldContribStrainIds);
                if(contribStrainsChanged) {
                    postData['contributing_strain_ids'] = JSON.stringify(newContribStrainIds)
                }

                var newSampleID = editSampleIDInput.val();
                var sampleIDChanged = newSampleID !== sampleID;
                if(sampleIDChanged) {
                    postData['sample_id'] = newSampleID;
                }

                saveTagRequest = $.ajax({
                    type: "POST",
                    url: "{{ url_for('update_sample', mongo_id=sample._id) }}",
                    data: postData,
                    dataType: 'json',
                    success: function(data) {
                        if(tagsChanged) {
                            updateSampleTags(newTags);
                        }
                        if(contribStrainsChanged) {
                            updateHaplotypeStrains(newContribStrainTokens);
                        }
                        if(sampleIDChanged) {
                            updateSampleID(newSampleID);
                        }
                    }
                }).fail(function() {
                    showErrorMessage('An error occured while saving sample.');
                }).always(function() {
                    saveTagRequest = null;
                    sampleUpdateSpinner.css('display', 'none');
                });

                switchToReadonlyView();
            });

            var svg = d3.select('#hapkaryoplot-svg');
            var hapKaryoPlot = new HaploKaryoPlot({
                svg: svg,
                width: 900,
                height: 900,
                chrSizes: mm10ChrSizes
            });

            var cursorStatusPopup = d3.select("#cursor-status");
            var hideCursorPopup = function() {
                cursorStatusPopup.style("display", null);
            };
            hapKaryoPlot.mouseOverHaplotype = function(currHaplo, haploData) {
                var popupOffset = 20;
                var xPos = d3.event.pageX + popupOffset;
                var yPos = d3.event.pageY + popupOffset;
                cursorStatusPopup.style({
                    display: "block",
                    top: yPos + "px",
                    left: xPos + "px"
                });
                $('#cursor-haplotype1').text(
                        haploData.haplotype_samples[currHaplo.haplotype_index_1].sample_id);
                $('#cursor-haplotype2').text(
                        haploData.haplotype_samples[currHaplo.haplotype_index_2].sample_id);
            };
            hapKaryoPlot.mouseOutHaplotype = hideCursorPopup;

            var haploSnpConcordance = $('#haplo-snp-concordance');
            function updateHaplotypeSVG() {
                $.getJSON("{{ url_for('viterbi_haplotypes_json', mongo_id=sample._id) }}", function(data) {
                    console.log('data');
                    console.log(data);
                    hapKaryoPlot.updateHaplotypes(data);
                    var concordantPercent = data.viterbi_haplotypes.concordant_percent;
                    haploSnpConcordance.text(
                            concordantPercent === null ? 'N/A' : concordantPercent.toFixed(2) + '%');
                }).fail(function() {
                    showErrorMessage('An error occured while updating haplotypes.');
                }).always(function() {
                    window.setTimeout(updateHaplotypeSVG, intervalDelayMS);
                });
            }
            updateHaplotypeSVG();

            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <style>
        #cursor-status {
            display: none;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.75);
            pointer-events: none;
            white-space: nowrap;
        }

        .help-icon {
            visibility: hidden;
        }

        tr:hover .help-icon {
            visibility: visible;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Samples Details for <span data-sampleid>{{ sample.sample_id }}</span></h1>
    </div>

    <div>
        <span>
            <button id="edit-sample-button" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Sample
            </button>
            <span id="sample-update-spinner" class="fa fa-spinner fa-pulse" style="display: none;"></span>
        </span>

        <span style="display: none;">
            <button id="save-sample-button" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Edits
            </button>
            <button id="cancel-sample-button" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel Edits
            </button>
        </span>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            Sample ID:
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>
                            <span id="edit-sampleid-panel" class="form-group" style="display: none;">
                                <input id="edit-sampleid-input" type="text" class="form-control"/>
                            </span>
                            <span id="readonly-sampleid" data-sampleid>{{ sample.sample_id }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Platform
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>{{ sample.platform_id }}</td>
                    </tr>
                    <tr>
                        <th>
                            % Het. Calls
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>{{ '{0:0.2f}%'.format(sample.heterozygous_percent) }}</td></tr>
                    <tr>
                        <th>
                            % Hom. Calls
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>{{ '{0:0.2f}%'.format(sample.homozygous_percent) }}</td>
                    </tr>
                    <tr>
                        <th>
                            % No Calls
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>{{ '{0:0.2f}%'.format(sample.no_read_percent) }}</td>
                    </tr>
                    <tr>
                        <th>
                            % Haplotype & SNP Concordance
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td id="haplo-snp-concordance">
                            {% if sample.viterbi_haplotypes.concordant_percent == None %}
                                N/A
                            {% else %}
                                {{ '{0:0.2f}%'.format(sample.viterbi_haplotypes.concordant_percent) }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr id="tags-table-row">
                        <th>
                            tags
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>
                            <span id="edit-tags-panel" class="form-group" style="display: none;">
                                <input id="edit-tags-input" type="text" class="form-control"/>
                            </span>
                            <span id="tag-links"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="page-header">
        <h1>Sample Haplotypes</h1>
    </div>

    <p>
        You can modify the "Contributing Haplotype Strains" below and click "Save Contributing Strains". This will
        cause the haplotype structure of this strain to be inferred based on these settings (using a hidden markov
        model) and rendered in a plot below.
    </p>

    <div><strong>Contributing Haplotype Strains:</strong></div>

    <div id="readonly-haplotypes-panel"></div>

    <form id="edit-haplotypes-panel" style="display: none;">
        <div class="form-group">
            <input type="text" class="form-control" id="contrib-strains-tokens"/>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <svg
                    id="hapkaryoplot-svg"
                    width="900" height="900"
                    style="display: block; margin-left: auto; margin-right: auto;"></svg>
        </div>
    </div>

    <div id="cursor-status">
        <table id="cursor-status-table">
            <tr><td>Haplotype 1:</td><td id="cursor-haplotype1"></td></tr>
            <tr><td>Haplotype 2:</td><td id="cursor-haplotype2"></td></tr>
        </table>
    </div>
{% endblock %}
