{% extends "layout.html" %}

{% block title %}Sample: {{ sample.sample_id }}{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mm10-data.js') }}"></script>
    <script>

        function arraysEq(arr1, arr2) {
            if(arr1.length !== arr2.length) {
                return false;
            } else {
                return arr1.every(function(elem1, i) {
                    return elem1 === arr2[i];
                });
            }
        }

        var haplotypeSamples = [
            {% for haplotype_sample in haplotype_samples %}
            {
                label: {% if haplotype_sample.standard_designation %}{{ haplotype_sample.standard_designation|tojson }}{% else %}{{ haplotype_sample.sample_id|tojson }}{% endif %},
                value: {{ haplotype_sample._id|tojson }}
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
        var haplotypeColors = {
            {% for haplotype_sample in haplotype_samples %}
                {{ haplotype_sample._id|tojson }}: {{ haplotype_sample.color|tojson }}{% if not loop.last %},{% endif %}
            {% endfor %}
        };
        var sampleID = {{ sample.sample_id|tojson }};
        var sampleIsPublic = {{ sample.is_public|tojson }};
        var gender = {{ sample.gender|tojson }};
        if(gender === null) {
            gender = 'unknown';
        }
        var standardDesignation = {{ sample.standard_designation|tojson }};
        var notes = {{ sample.notes|tojson }};
        var sampleColor = {{ sample.color|tojson }};
        var sampleTags = {{ sample.tags|tojson }};
        var allTags = {{ all_tags|tojson }};
        var contribStrainTokens = {{ contrib_strain_tokens|tojson }};
        var haplotypePollingIntervalMillisecs = 2500;

        $(function() {
            var candidateHaplotypeTable = $('#candidate-haplotype-table');
            var candidateHaplotypeTableOverlay = new ElemOverlay(
                    candidateHaplotypeTable,
                    $('<span><span class="fa fa-refresh fa-spin" aria-hidden="true"></span> Recalculating Candidate Haplotypes</span>'));
            var candidateHaplotypeTableBody = $('#candidate-haplotype-table-body');
            var findCandidateHapsReq = null;
            var findCandidateHapsWaiting = false;
            function findCandidateHaps() {
                if(interval === null) {
                    if(findCandidateHapsReq !== null) {
                        findCandidateHapsReq.abort();
                        findCandidateHapsReq = null;
                        findCandidateHapsWaiting = false;
                    }
                } else {
                    if(findCandidateHapsReq !== null) {
                        // we have to wait until this request finishes before we
                        // launch another to avoid overloading the server
                        findCandidateHapsWaiting = true;
                    } else {
                        candidateHaplotypeTableOverlay.overlayActive(true);
                        var startPos = interval.startPos;
                        var stopPos = interval.startPos + interval.size - 1;
                        if(startPos < 0) {
                            startPos = 0;
                        }
                        if(stopPos < startPos) {
                            stopPos = startPos;
                        }
                        var candHapURL =
                                '../best-haplotype-candidates/{{ sample._id }}/chr' +
                                interval.chr + '-' + startPos + '-' + stopPos + '.json';
                        $.getJSON(candHapURL, function(data) {
                            candidateHaplotypeTableBody.empty();
                            data.best_candidates.forEach(function(currCandidate) {
                                function makeHapLink(hap) {
                                    var haploLink = $(
                                            '<a href="' + encURIComp(hap._id) + '.html" class="hap hap' + hap._id + '">'
                                            + '<span id="sample-color-icon" class="fa fa-square" style="color: ' + haplotypeColors[hap._id] + ';"></span>'
                                            + escapeHtml(hap.standard_designation ? hap.standard_designation : hap.sample_id)
                                            + '</a>');
                                    return haploLink;
                                }

                                var tr = $(document.createElement('tr'));

                                var labelsTD = $(document.createElement('td'));
                                labelsTD.append(makeHapLink(currCandidate.haplotype_1));
                                if(currCandidate.haplotype_1._id !== currCandidate.haplotype_2._id) {
                                    labelsTD.append($(document.createTextNode(' | ')));
                                    labelsTD.append(makeHapLink(currCandidate.haplotype_2));
                                }
                                tr.append(labelsTD);

                                var likelihoodTD = $(document.createElement('td'));
                                likelihoodTD.text(currCandidate.neg_log_likelihood.toFixed(2));
                                tr.append(likelihoodTD);

                                candidateHaplotypeTableBody.append(tr);
                            });
                            updateHaplotypeLinkHoverListeners();

                            // see if we have a pending find
                            findCandidateHapsReq = null;
                            if(findCandidateHapsWaiting) {
                                findCandidateHapsWaiting = false;
                                findCandidateHaps();
                            }
                        }).fail(function() {
                            showErrorMessage('An error occurred while calculating candidate haplotypes.');
                        }).always(function() {
                            candidateHaplotypeTableOverlay.overlayActive(false);
                        });
                    }
                }
            }

            var interval = null;
            var updateIntervalButton = $('#update-interval-button');
            var clearIntervalButton = $('#clear-interval-button');
            var intervalText = $('#interval-edit');
            var gotoEnsemblLink = $('#goto-ensembl-link');
            var gotoUCSCLink = $('#goto-ucsc-link');
            gotoEnsemblLink.addClass('disabled');
            gotoUCSCLink.addClass('disabled');

            var updateIntervalDP = new DelayedPreemptable();
            function updateInterval(newInterval) {
                interval = newInterval;

                if(newInterval === null) {
                    intervalText.val('');
                    gotoEnsemblLink.addClass('disabled');
                    gotoUCSCLink.addClass('disabled');
                } else {
                    newInterval.endPos = newInterval.startPos + newInterval.size - 1;
                    if(Math.round(newInterval.startPos / 1000000) == newInterval.startPos / 1000000 &&
                       Math.round(newInterval.endPos / 1000000) == newInterval.endPos / 1000000) {
                        intervalText.val(
                                'Chr' + newInterval.chr + ':' +
                                (newInterval.startPos / 1000000) + 'Mb-' +
                                (newInterval.endPos / 1000000) + 'Mb');
                    } else {
                        intervalText.val(
                                'Chr' + newInterval.chr + ':' +
                                Math.round(newInterval.startPos) + '-' +
                                Math.round(newInterval.endPos));
                    }

                    // update the "go to" genome browser links for the new interval
                    var startPos = interval.startPos;
                    var stopPos = interval.startPos + interval.size - 1;
                    if(startPos < 0) {
                        startPos = 0;
                    }
                    if(stopPos > startPos) {
                        var rangeStr = encodeURIComponent(interval.chr + ':' + startPos + '-' + stopPos);
                        gotoEnsemblLink.attr(
                                'href',
                                'http://ensembl.org/Mus_musculus/Location/View?r=' + rangeStr);
                        gotoUCSCLink.attr(
                                'href',
                                'https://genome.ucsc.edu/cgi-bin/hgTracks?db=mm10&position=chr' + rangeStr);
                    }
                    gotoEnsemblLink.removeClass('disabled');
                    gotoUCSCLink.removeClass('disabled');
                }

                hapKaryoPlot.zoomInterval(newInterval);
                hapIntervalPlot.zoomInterval(newInterval);

                if(user !== null) {
                    // don't update haplotypes unless we have at least 1 sec of quiet time.
                    updateIntervalDP.delay(findCandidateHaps, 1000);
                }
            }

            clearIntervalButton.click(function() {
                updateInterval(null);
            });

            updateIntervalButton.click(function() {
                updateInterval(parseInterval(intervalText.val()));
            });

            var editTagsInput = $('#edit-tags-input');
            var tagLinksPanel = $('#tag-links');

            var sampleUpdateSpinner = $('#sample-update-spinner');
            var editSampleButton = $('#edit-sample-button');
            var saveSampleButton = $('#save-sample-button');
            var cancelSampleButton = $('#cancel-sample-button');

            var readonlyHaplotypesPanel = $('.readonly-haplotypes-panel');

            var editSampleIDInput = $('#edit-sampleid-input');

            var editStandardDesignationInput = $('#edit-standarddesignation-input');
            var readonlyStandardDesignationPanel = $('#readonly-standarddesignation');

            var editNotesInput = $('#edit-notes-input');
            var readonlyNotesPanel = $('#readonly-notes');

            var editColorComponent = $('#edit-color-component');
            var sampleColorIcon = $('#sample-color-icon');
            var sampleColorText = $('#sample-color-text');
            var colorTableRow = $('#color-table-row');
            editColorComponent.minicolors({theme: 'bootstrap'});

            var sampleIsPublicCheckbox = $('#sample-is-public-checkbox');
            var readonlySampleVisibility = $('#readonly-sample-visibility');

            var editGenderSelect = $('#edit-gender-select');
            var readonlyGender = $('#readonly-gender');

            function updateGender(newGender) {
                gender = newGender;

                var genderLower = newGender.toLowerCase();
                if(['female', 'male', 'unknown'].indexOf(genderLower) === -1) {
                    editGenderSelect.val('unknown');
                } else {
                    editGenderSelect.val(genderLower);
                }
                readonlyGender.text(newGender);
            }
            updateGender(gender);

            function updateSampleIsPublic(newSampleIsPublic) {
                sampleIsPublic = newSampleIsPublic;

                sampleIsPublicCheckbox.prop('checked', newSampleIsPublic);
                readonlySampleVisibility.text(newSampleIsPublic ? 'Publicly Visible' : 'Requires Login');
            }
            updateSampleIsPublic(sampleIsPublic);

            editTagsInput.tokenfield({
                autocomplete: {
                    source: allTags.map(function(tag) {
                        return {
                            label: tag,
                            value: tag
                        }
                    }),
                    delay: 100,
                    autoFocus: true,
                    minLength: 1
                },
                showAutocompleteOnFocus: true,
                createTokensOnBlur: true
            });
            function updateSampleTags(newSampleTags) {
                newSampleTags.sort(function(x, y) {
                    return x.localeCompare(y);
                });
                sampleTags = newSampleTags;
                tagLinksPanel.empty();
                var haplotypeStrainTagPresent = false;
                newSampleTags.forEach(function(tag, i) {
                    if(tag === 'haplotype-strain') {
                        haplotypeStrainTagPresent = true;
                    }

                    if(i >= 1) {
                        tagLinksPanel.append(document.createTextNode(', '));
                    }
                    tagLinksPanel.append('<a href="../tag/' + encURIComp(tag) + '.html">' + tag + '</a>');
                });
                colorTableRow.css('display', haplotypeStrainTagPresent ? '' : 'none');

                editTagsInput.tokenfield('setTokens', newSampleTags.map(function(tag) {
                    return {
                        label: tag,
                        value: tag
                    }
                }));
            }

            function updateStandardDesignation(newStandardDesignation) {
                standardDesignation = newStandardDesignation;

                readonlyStandardDesignationPanel.empty();
                if(newStandardDesignation) {
                    readonlyStandardDesignationPanel.append(
                            '<a href="../standard-designation/' + encURIComp(newStandardDesignation) + '.html">' +
                            newStandardDesignation + '</a>');
                }

                editStandardDesignationInput.val(newStandardDesignation);
            }
            updateStandardDesignation(standardDesignation);

            function updateNotes(newNotes) {
                if(!newNotes) {
                    newNotes = '';
                }
                readonlyNotesPanel.empty();
                notes = newNotes;
                notes.split(/\n/).forEach(function(line) {
                    var p = $(document.createElement('p'));
                    p.text(line);
                    readonlyNotesPanel.append(p);
                });

                editNotesInput.val(newNotes);
            }
            updateNotes(notes);

            var contribStrainTokensInput = $('#contrib-strains-tokens');
            contribStrainTokensInput.tokenfield({
                autocomplete: {
                    source: haplotypeSamples,
                    delay: 100,
                    autoFocus: true
                },
                showAutocompleteOnFocus: true,
                createTokensOnBlur: true,
                limit: {{ maximum_contributing_strain_count() }}
            });
            contribStrainTokensInput.on('tokenfield:createtoken', function(e) {
                var value = e.attrs.value;

                return haplotypeSamples.some(function(samp) {
                    return samp.value === value;
                });
            });
            function updateHaplotypeStrains(newContribStrainTokens) {
                newContribStrainTokens.sort(function(tok1, tok2) {
                    var initCmp = tok1.label.localeCompare(tok2.label);
                    if(initCmp !== 0) {
                        return initCmp;
                    } else {
                        return tok1.value.localeCompare(tok2.value);
                    }
                });

                contribStrainTokens = newContribStrainTokens;
                readonlyHaplotypesPanel.empty();
                newContribStrainTokens.forEach(function(strain, i) {
                    if(i >= 1) {
                        readonlyHaplotypesPanel.append(document.createTextNode(', '));
                    }
                    var haploLink = $(
                            '<a href="' + encURIComp(strain.value) + '.html" class="hap hap' + strain.value + '">'
                            + '<span id="sample-color-icon" class="fa fa-square" style="color: ' + haplotypeColors[strain.value] + ';"></span>'
                            + strain.label
                            + '</a>');
                    readonlyHaplotypesPanel.append(haploLink);
                });
                updateHaplotypeLinkHoverListeners();
                contribStrainTokensInput.tokenfield('setTokens', newContribStrainTokens);
            }

            function updateSampleID(newSampleID) {
                sampleID = newSampleID;

                $('[data-sampleid]').text(newSampleID);
                editSampleIDInput.val(newSampleID);
            }

            function updateSampleColor(newColor) {
                sampleColor = newColor;

                editColorComponent.minicolors('value', newColor);
                sampleColorIcon.css({'color': newColor});
                sampleColorText.text(newColor);
            }

            function switchEditSampleView(isEdit) {
                $('[data-display-when="sample-edit"]').css('display', isEdit ? '' : 'none');
                $('[data-display-when="sample-readonly"]').css('display', isEdit ? 'none' : '');
            }
            editSampleButton.click(function() {switchEditSampleView(true);});

            cancelSampleButton.click(function() {
                switchEditSampleView(false);

                // restore old values to inputs so that if the user clicks edit again they
                // won't be presented with the values that they just cancelled.
                updateSampleTags(sampleTags);
                updateStandardDesignation(standardDesignation);
                updateHaplotypeStrains(contribStrainTokens);
                updateSampleID(sampleID);
                updateSampleColor(sampleColor);
                updateNotes(notes);
                updateSampleIsPublic(sampleIsPublic);
                updateGender(gender);
            });
            var saveTagRequest = null;
            saveSampleButton.click(function() {
                if(saveTagRequest !== null) {
                    saveTagRequest.abort();
                    saveTagRequest = null;
                    sampleUpdateSpinner.css('display', 'none');
                }

                var postData = {};
                var newTags = discardDupElems(editTagsInput.tokenfield('getTokens').map(function(x) {
                    return x.value;
                }));
                var tagsChanged = !arraysEq(newTags, sampleTags);
                if(tagsChanged) {
                    postData['tags'] = JSON.stringify(newTags);
                }

                var newContribStrainTokens = contribStrainTokensInput.tokenfield('getTokens');
                newContribStrainTokens = discardDupElems(
                    newContribStrainTokens,
                    function(tok) {
                        return tok.value;
                    }
                );
                var newContribStrainIds = newContribStrainTokens.map(function(x) {
                    return x.value;
                });
                var oldContribStrainIds = contribStrainTokens.map(function(x) {
                    return x.value;
                });
                var contribStrainsChanged = !arraysEq(newContribStrainIds, oldContribStrainIds);
                if(contribStrainsChanged) {
                    postData['contributing_strain_ids'] = JSON.stringify(newContribStrainIds)
                }

                var newSampleID = editSampleIDInput.val();
                var sampleIDChanged = newSampleID !== sampleID;
                if(sampleIDChanged) {
                    postData['sample_id'] = newSampleID;
                }

                var newColor = editColorComponent.minicolors('value');
                var colorChanged = newColor !== sampleColor;
                if(colorChanged) {
                    postData['color'] = newColor;
                }

                var newStandardDesignation = editStandardDesignationInput.val();
                var standardDesignationChanged = newStandardDesignation != standardDesignation;
                if(standardDesignationChanged) {
                    postData['standard_designation'] = newStandardDesignation;
                }

                var newNotes = editNotesInput.val();
                var notesChanged = newNotes != notes;
                if(notesChanged) {
                    postData['notes'] = newNotes;
                }

                var newSampleIsPublic = sampleIsPublicCheckbox.prop('checked');
                var sampleIsPublicChanged = newSampleIsPublic !== sampleIsPublic;
                if(sampleIsPublicChanged) {
                    postData['is_public'] = newSampleIsPublic;
                }

                var newGender = editGenderSelect.val();
                var genderChanged = newGender !== gender;
                if(genderChanged) {
                    postData['gender'] = newGender;
                }

                saveTagRequest = $.ajax({
                    type: "POST",
                    url: "{{ url_for('update_sample', mongo_id=sample._id) }}",
                    data: postData,
                    dataType: 'json',
                    success: function(data) {
                        if(tagsChanged) {
                            updateSampleTags(newTags);
                        }
                        if(contribStrainsChanged) {
                            updateHaplotypeStrains(newContribStrainTokens);
                            updateHaplotypeSVG();
                        }
                        if(sampleIDChanged) {
                            updateSampleID(newSampleID);
                        }
                        if(colorChanged) {
                            updateSampleColor(newColor);
                        }
                        if(standardDesignationChanged) {
                            updateStandardDesignation(newStandardDesignation);
                        }
                        if(notesChanged) {
                            updateNotes(newNotes);
                        }
                        if(sampleIsPublicChanged) {
                            updateSampleIsPublic(newSampleIsPublic);
                        }
                        if(genderChanged) {
                            updateGender(newGender);
                            updateHaplotypeSVG();
                        }
                    }
                }).fail(function() {
                    showErrorMessage('An error occurred while saving sample.');
                }).always(function() {
                    saveTagRequest = null;
                    sampleUpdateSpinner.css('display', 'none');
                });

                switchEditSampleView(false);
            });

            var svg = d3.select('#hapkaryoplot-svg');
            var hapKaryoPlot = new HaploKaryoPlot({
                svg: svg,
                width: 900,
                height: 900,
                chrSizes: mm10ChrSizes
            });
            hapKaryoPlot.zoomIntervalChange = updateInterval;

            var intervalSVG = d3.select("#hapintervalplot-svg");
            var hapIntervalPlot = new HaploKaryoPlot({
                svg: intervalSVG,
                width: 900,
                height: 150,
                chrSizes: mm10ChrSizes,
                intervalMode: true
            });
            hapIntervalPlot.zoomIntervalChange = updateInterval;

            function highlightHaplotype(haploID) {
                clearHaplotypeHightlight();

                svg.selectAll('rect.hap').style('fill-opacity', 0.25);
                svg.selectAll('rect.hap' + haploID).style({
                    'fill-opacity': null,
                    'stroke': '#000000'
                });
                intervalSVG.selectAll('rect.hap').style('fill-opacity', 0.25);
                intervalSVG.selectAll('rect.hap' + haploID).style({
                    'fill-opacity': null,
                    'stroke': '#000000'
                });
                $('a.hap' + haploID).css({
                    'box-shadow': '0px 0px 15px 2px ' + haplotypeColors[haploID]
                });
            }
            function clearHaplotypeHightlight(haploID) {
                svg.selectAll('rect.hap').style({
                    'fill-opacity': null,
                    'stroke': null
                });
                intervalSVG.selectAll('rect.hap').style({
                    'fill-opacity': null,
                    'stroke': null
                });
                $('a.hap').css({
                    'box-shadow': ''
                });
            }
            function updateHaplotypeLinkHoverListeners() {
                haplotypeSamples.forEach(function(hapSamp) {
                    $('a.hap' + hapSamp.value).hover(
                        function() {
                            highlightHaplotype(hapSamp.value);
                        },
                        function() {
                            clearHaplotypeHightlight(hapSamp.value);
                        }
                    );
                });
            }

            hapKaryoPlot.mouseOverHaplotype = function(haploIndex, haploData) {
                var currHapID = haploData.haplotype_samples[haploIndex].obj_id;
                highlightHaplotype(currHapID);
            };
            hapKaryoPlot.mouseOutHaplotype = function(haploIndex, haploData) {
                var currHapID = haploData.haplotype_samples[haploIndex].obj_id;
                clearHaplotypeHightlight(currHapID);
            };

            var haploSnpConcordance = $('#haplo-snp-concordance');
            var updateHaplotypeSVGTimeoutID = null;
            function updateHaplotypeSVG() {
                $.getJSON("{{ url_for('viterbi_haplotypes_json', mongo_id=sample._id) }}", function(data) {
                    hapKaryoPlot.updateHaplotypes(data, haplotypeColors);
                    hapIntervalPlot.updateHaplotypes(data, haplotypeColors);
                    var concordantPercent = data.viterbi_haplotypes.concordant_percent;
                    haploSnpConcordance.text(
                            concordantPercent === null ? 'N/A' : concordantPercent.toFixed(2) + '%');

                    if(anyResultsPending(data)) {
                        if(updateHaplotypeSVGTimeoutID !== null) {
                            // to prevent a pileup of timeout events clear any existing timeout
                            window.clearTimeout(updateHaplotypeSVGTimeoutID);
                        }
                        updateHaplotypeSVGTimeoutID = window.setTimeout(updateHaplotypeSVG, haplotypePollingIntervalMillisecs);
                    }
                }).fail(function() {
                    showErrorMessage('An error occurred while updating haplotypes.');
                });
            }

            switchEditSampleView(false);

            // initialize the UI by calling a bunch of the "update" functions
            updateSampleTags(sampleTags);
            updateStandardDesignation(standardDesignation);
            updateHaplotypeStrains(contribStrainTokens);
            updateSampleID(sampleID);
            updateSampleColor(sampleColor);
            updateHaplotypeSVG();

            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <style>
        .help-icon {
            visibility: hidden;
        }

        tr:hover .help-icon {
            visibility: visible;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Sample: <span data-sampleid>{{ sample.sample_id }}</span></h1>
    </div>

    {% if g.user %}
    <div style="margin-bottom: 10px;">
        <span data-display-when="sample-readonly">
            <button id="edit-sample-button" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Sample
            </button>
            <span id="sample-update-spinner" class="fa fa-spinner fa-pulse" style="display: none;"></span>
        </span>

        <span data-display-when="sample-edit" style="display: none;">
            <button id="save-sample-button" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Edits
            </button>
            <button id="cancel-sample-button" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel Edits
            </button>
        </span>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Sample ID
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>
                            <span class="form-group" data-display-when="sample-edit" style="display: none;">
                                <input id="edit-sampleid-input" type="text" class="form-control"/>
                            </span>
                            <span data-sampleid data-display-when="sample-readonly">{{ sample.sample_id }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Standard Designation
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="This can be an official strain name, an F1 designation or other. Consult MGI's nomenclature page for detailed information."></span>
                        </th>
                        <td>
                            <span class="form-group" data-display-when="sample-edit" style="display: none;">
                                <input id="edit-standarddesignation-input" type="text" class="form-control"/>
                            </span>
                            <span id="readonly-standarddesignation" data-display-when="sample-readonly">{{ sample.standard_designation }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Gender
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>
                            <span class="form-group" data-display-when="sample-edit" style="display: none;">
                                <select id="edit-gender-select" type="text" class="form-control">
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="unknown">Unknown</option>
                                </select>
                            </span>
                            <span id="readonly-gender" data-display-when="sample-readonly">{{ sample.gender  or 'Unknown'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Platform
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>{{ sample.platform_id }}</td>
                    </tr>
                    <tr>
                        <th>
                            % Het. Calls
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>{{ '{0:0.2f}%'.format(sample.heterozygous_percent) }}</td></tr>
                    <tr>
                        <th>
                            % Hom. Calls
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>{{ '{0:0.2f}%'.format(sample.homozygous_percent) }}</td>
                    </tr>
                    <tr>
                        <th>
                            % No Calls
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>{{ '{0:0.2f}%'.format(sample.no_read_percent) }}</td>
                    </tr>
                    <tr>
                        <th>
                            % Concordance
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td id="haplo-snp-concordance">
                            {% if sample.viterbi_haplotypes.concordant_percent == None %}
                                N/A
                            {% else %}
                                {{ '{0:0.2f}%'.format(sample.viterbi_haplotypes.concordant_percent) }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Tags
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>
                            <span class="form-group" data-display-when="sample-edit" style="display: none;">
                                <input id="edit-tags-input" type="text" class="form-control"/>
                            </span>
                            <span id="tag-links" data-display-when="sample-readonly"></span>
                        </td>
                    </tr>
                    <tr id="color-table-row">
                        <th>
                            Haplotype Color
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>
                            <span data-display-when="sample-edit" style="display: none;">
                                <input type="text" id="edit-color-component" class="form-control" data-control="hue" value="#000000">
                            </span>
                            <span data-display-when="sample-readonly">
                                <span id="sample-color-icon" class="fa fa-square"></span>
                                <span id="sample-color-text"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Visibility
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="TODO: add help text"></span>
                        </th>
                        <td>
                            <span data-display-when="sample-edit" style="display: none;">
                                <input id="sample-is-public-checkbox" type="checkbox" name="sample-public"> Publicly Visible
                            </span>
                            <span id="readonly-sample-visibility" data-display-when="sample-readonly"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Notes:
                            <span
                                    class="glyphicon glyphicon-question-sign help-icon"
                                    aria-hidden="true"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Free-form text notes associated with this sample."></span>
                        </th>
                        <td>
                            <span class="form-group" data-display-when="sample-edit" style="display: none;">
                                <textarea id="edit-notes-input" class="form-control" rows="4">{{ sample.notes  or ''}}</textarea>
                            </span>
                            <span id="readonly-notes" data-display-when="sample-readonly">{{ sample.notes or ''}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="page-header">
        <h2>Genome Karyotype Plot</h2>
    </div>

    <p>
        Click any area of the karyotype plot to get a zoomed in view.
    </p>

    <p data-display-when="sample-edit" style="display: none;">
        You can modify the "Contributing Haplotype Strains" below and click "Save Edits". This will
        cause the haplotype structure of this strain to be inferred based on these settings (using a hidden markov
        model) and rendered in a plot below.
    </p>

    <div><strong>Contributing Haplotype Strains:</strong></div>

    <div class="readonly-haplotypes-panel" data-display-when="sample-readonly"></div>

    <form id="edit-haplotypes-panel" data-display-when="sample-edit" style="display: none;">
        <div class="form-group">
            <input type="text" class="form-control" id="contrib-strains-tokens"/>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <svg
                    id="hapkaryoplot-svg"
                    width="900" height="900"
                    class="haplotype-plot"></svg>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default" href="{{ url_for('sample_snp_report', mongo_id=sample._id) }}" download="{{ sample.sample_id|replace('/', '_')|replace('\\', '_')|replace(':', '_')|replace(';', '_') }}_snp_report.txt">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download SNP Level Haplotype Report
            </a>
            <a class="btn btn-default" href="{{ url_for('sample_summary_report', mongo_id=sample._id) }}" download="{{ sample.sample_id|replace('/', '_')|replace('\\', '_')|replace(':', '_')|replace(';', '_') }}_summary_report.txt">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download Haplotype Composition Summary
            </a>
        </div>
    </div>

    <div class="page-header">
        <h2>Genome Interval Plot</h2>
    </div>

    <div class="form-inline">
        <label for="interval-edit">Interval:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="interval-edit" size="50" placeholder="Chr2:45Mb-55Mb">
            <span class="input-group-btn">
                <button id="clear-interval-button" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="clear interval"></span>
                </button>
                <button id="update-interval-button" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update Interval
                </button>
            </span>
        </div>
    </div>

    <div class="readonly-haplotypes-panel"></div>

    <div class="row">
        <div class="col-md-12">
            <svg
                    id="hapintervalplot-svg"
                    width="900" height="150"
                    class="haplotype-plot"></svg>
        </div>
    </div>

    <div class="form-inline">
        <a id="goto-ensembl-link" class="btn btn-default" href="#" target="_blank">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go to Ensembl Browser
        </a>

        <a id="goto-ucsc-link" class="btn btn-default" href="#" target="_blank">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go to UCSC Browser
        </a>
    </div>

    {#
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download Interval Haplotype Report
            </button>
        </div>
    </div>
    #}

    {% if g.user %}
    <div class="row">
        <div class="col-md-12">
            <table id="candidate-haplotype-table" class="table table-striped" style="margin-top: 10px;">
                <thead><tr><th>Candidate Haplotype</th><th>Negative Log Likelihood</th></tr></thead>
                <tbody id="candidate-haplotype-table-body" style="height: 100px;">
                <tr>
                    <td colspan="2" style="text-align: center; vertical-align: middle;"><strong>Select an interval to view Candidate Haplotypes</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

{% endblock %}
