{% extends "layout.html" %}
{% block title %}HaploQA{% endblock %}
{% block content %}
    {% if g.user.administrator != True and g.user.curator != True %}
    <div>You are not authorized to view this page</div>
    {% else %}
    <script>
            //TODO: aggregate show/hide into one true/false function
            function showColorEdit(id) {
                $('#'+id).colorpicker({useAlpha: false});
                $('#confirm-'+id).css('display', 'block');
                $('#cancel-'+id).css('display', 'block');
            }

            function reload_page() {
                setTimeout(function() {
                    location.reload();
                }, 3000);
            }

            function makeColorEdit(id) {
                var postData = {};
                var colorHex = $('#'+id).val();
                if(colorHex) {
                    postData['color'] = colorHex;
                    $.ajax({
                        method: "POST",
                        url: "/update-st-des-color/"+id+".json",
                        data: postData,
                        success: function(data) {
                            showNotificationMessage('Color updated successfully');
                            reload_page();
                        }
                    }).fail(function(data) {
                        showNotificationMessage('An error occurred updating the color');
                        console.log(data);
                    });
                } else {
                    showNotificationMessage('An error occurred updating the color: you must enter a value');
                }
            }

            function showNotificationMessage(msg) {
                $('#modal-message').text(msg);
                $('#notification-modal').modal({"backdrop" : false});
                setTimeout(function () {
                    $('#notification-modal').modal('hide');
                }, 2000);
            }

            function hideColorEdit(id, orig_color) {
                $('#confirm-'+id).css('display', 'none');
                $('#cancel-'+id).css('display', 'none');
            }

            function showAddModal() {
                var modalDialog = $('#add-modal');
                $('#color').colorpicker({useAlpha: false});
                modalDialog.modal();
            }

            function addStDes() {
                var postData = {};
                var st_des = $('#st_des').val();
                var col = $('#color').val();

                if (st_des) {
                        postData['st_des'] = st_des;
                        if(col !== "") {
                            postData['color'] = col;
                            $.ajax({
                                method: "POST",
                                url: "/add-st-des.json",
                                data: postData,
                                success: function (data) {
                                    console.log(data);
                                    $('#msg').text('Strain Name added successfully');
                                    setTimeout(function() {
                                        location.reload();
                                    }, 1500);
                                }
                            }).fail(function (data) {
                                $('#msg').text('An error occurred while adding the strain name');
                                console.log(data);
                            });
                        } else {
                            $('#msg').text('Please enter a color value');
                        }
                } else {
                     $('#msg').text('Please enter a value for strain name');
                }
            }

    </script>
    <div class="page-header">
        <h1>Strain Name Management</h1>
        <div class="row">
            <div>
                <span>
                    <button id="add-button" type="button" class="btn btn-primary" onclick="showAddModal();">Add Item
                    </button>
                </span>
            </div>
        </div>
    </div>
        <div class="row" style="width: 500px;">
            <b>Strain Names:</b>
            <table class="table table-striped col-md-7">
                <thead>
                    <tr>
                       <th scope="col">Name</th>
                       <th scope="col">Color
                           <span class="glyphicon glyphicon-question-sign help-icon" aria-hidden="true" data-toggle="tooltip"
                           data-placement="top" title="To edit a strain name's color:
                           1. Click on the input field corresponding to the item you wish to edit.
                           2. Click inside the color selection box to select a color or enter a hexadecimal color value manually.
                           3. Click the Confirm Edit button to save your changes,
                           or the Cancel Edit button to cancel your selection.">
                           </span>
                       </th>
                       <th scope="col"></th>
                       <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for st_des in all_st_des %}
                    <tr>
                        <td class="col-md-4">
                            <i id="st-des-{{ st_des._id }}-color" class="fa fa-square" style="color: {{ st_des.color }};"></i>
                            {{ st_des.standard_designation }}
                        </td>
                        <td class="col-md-1">
                            <input type="text" id="{{ st_des._id }}" class="form-control" value="{{ st_des.color }}" \
                            onclick="showColorEdit('{{ st_des._id}}')" style="width: 80px;"/>
                        </td>
                        <td class="col-md-1">
                            <button id="confirm-{{ st_des._id }}" type="button" class="btn btn-primary" \
                                    style="display: none; width: 100px;" onclick="makeColorEdit('{{ st_des._id}}')">Confirm Edit
                            </button>
                        </td>
                        <td class="col-md-1" style="float:left;">
                            <button id="cancel-{{ st_des._id }}" type="button" class="btn btn-warning" \
                                    style="display: none; width: 100px;" onclick="hideColorEdit('{{ st_des._id }}', '{{ st_des.color }}');">Cancel Edit
                            </button>
                        </td>
                        <script>$('#{{ st_des._id }}').colorpicker({useAlpha: false});</script>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <!-- st des add modal -->
    <div id="add-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 300px;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add New Strain Name</h4>
                    <div id="msg" style="color:#ff0022; font-weight: bold;"></div>
                </div>
                <div class="modal-body" style="height: 140px;">
                    <div style="float:left; margin-right: 100%">
                        <div>Strain Name: <b class="required">*</b> </div>
                        <div style="margin-top: 10px;">
                            <input type="text" id="st_des"/>
                        </div>
                    </div>
                    <div style="float:left;">
                        <div style="margin-top: 10px;">Color: <b class="required">*</b>
                            <span class="glyphicon glyphicon-question-sign help-icon" aria-hidden="true" data-toggle="tooltip"
                            data-placement="top" title="Click the input box below to select a
                            color or enter a hexadecimal color value manually.
                            Click the Add Item button to save your changes, or
                            the Cancel to discard changes.">
                            </span>
                        </div>
                        <div style="float: left;">
                            <input type="text" id="color" class="form-control" data-control="hue" value="#2b53de" style="width: 80px;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-item" type="button" class="btn btn-primary" onclick="addStDes();">Add Item</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    $('[data-toggle="tooltip"]').tooltip()
    </script>
{% endif %}
{% endblock %}
